<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./header.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wreppar">
          <img src="../../svgs/logo-img.svg" alt="logo-img" />
          <div class="header__time-wrapper">
            <p class="header__time-text"></p>
          </div>
          <div class="header__phone-wrapper">
            <p class="header__phone">+7 495 120-32-14</p>
            <p class="header__phone">Заказать звонок</p>
          </div>
          <div class="header__links-wrappwer">
            <div class="header__links-heart header__links-bc">
              <img src="../../svgs/heart.svg" alt="heart-icon" />
              <p class="header__links-heart-counter">0</p>
            </div>
            <div class="header__links-bar header__links-bc">
              <img src="../../svgs/bar-chart.svg" alt="chart-icon" />
              <p class="header__links-heart-counter">0</p>
            </div>
            <div class="header__links-person header__links-bc">
              <img src="../../svgs/person-icon.svg" alt="person-icon" />
            </div>
            <div class="header__links-shop header__links-bc">
              <img src="../../svgs/shopping-cart.svg" alt="shopping-icon" />
              <p class="header__links-heart-counter">0</p>
            </div>
            <p class="header__product-money-wrapper">
              Товаров на сумму
              <span class="header__product-money">2 000 ₽</span>
            </p>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container">
          <div class="header__nav-button-wrapper">
            <button>
              <img src="../../svgs/bar-chart-2.svg" alt="chart-icon" />
              Каталог товаров
            </button>
          </div>
          <div class="header__nav-links-wrapper">
            <ul class="header__nav-links-list-wrapper">
              <li><a class="header__nav-link" href="#">О компании</a></li>
              <li><a class="header__nav-link" href="#">Акции</a></li>
              <li><a class="header__nav-link" href="#">Хиты сезона</a></li>
              <li><a class="header__nav-link" href="#">Новинки</a></li>
            </ul>
          </div>
          <div class="header__web-wrappepr">
            <div class="header__nav-web-icon-wrapper">
              <img
                class="header__nav-icon header__nav-icon"
                src="../../svgs/instagram.svg"
                alt="instagram-icon"
              />
            </div>
            <div class="header__nav-web-icon-wrapper">
              <img
                class="header__nav-icon header__nav-icon"
                src="../../svgs/vk.svg"
                alt="vk-icon"
              />
            </div>
            <div class="header__nav-web-icon-wrapper">
              <img
                class="header__nav-icon header__nav-icon"
                src="../../svgs/facebook.svg"
                alt=""
              />
            </div>
            <div class="header__nav-serch-wrapprer">
              <img src="../../svgs/search-icon.svg" alt="search-icon" />
              <input type="search" placeholder="Поиск по каталогу" />
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
