<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../sass/footer.css" />
  </head>
  <body>
    <footer>
      <ul>
        <li>
          <a href="#">Малярные товары</a>
        </li>
        <li>
          <a href="#">Электрооборудование</a>
        </li>
        <li>
          <a href="#">Спецодежда</a>
        </li>
        <li>
          <a href="#">Для дома и дачи</a>
        </li>
        <li>
          <a href="#">Малярные товары</a>
        </li>
        <li>
          <a href="#">Малярные товары</a>
        </li>
      </ul>
      <ul></ul>
      <div></div>
    </footer>
  </body>
</html>
