<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <footer>
      <ul>
        <li>
          <a href="#">Малярные товары</a>
        </li>
        <li>
          <a href="#">Электрооборудование</a>
        </li>
        <li>
          <a href="#">Спецодежда</a>
        </li>
        <li>
          <a href="#">Для дома и дачи</a>
        </li>
        <li>
          <a href="#">Сезонное</a>
        </li>
        <li>
          <a href="#">Инструмент</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">О компании</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
        <li>
          <a href="#">Новинки</a>
        </li>
        <li>
          <a href="#">Хиты сезона</a>
        </li>
        <li>
          <a href="#">Распродажи</a>
        </li>
      </ul>
      <div>
        <img src="../../svgs/logo-img.svg" alt="" />
        <ul>
          <li>+7 495 120-32-14</li>
          <li>+7 495 120-32-15</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
